@font-face {
  font-family: 'Istok Web';
  src: url(font/IstokWeb-Regular.ttf);
}

@font-face {
  font-family: 'Istok Web';
  src: url(font/IstokWeb-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url(font/Poppins-Light.ttf);
  font-weight: 200;
}

@font-face {
  font-family: 'Poppins';
  src: url(font/Poppins-Bold.ttf);
  font-weight: 700;
}

:root {
  --primary-color: #013456;
  --accent-color: #FAD405;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 81px;
  max-width: 1231px;
  margin: 0 auto;
  font-family: 'Istok Web';
}
